.prueba{
    background:#f2f2f2;
}
body{background:#7cb18d;
}
.uwu1{
    margin: 0 650px;
    width: 650px;
    background: #7cb18d;
}
.uwu5{
    display: flex;
    justify-content: center;
}
.uwu2{
    margin: auto;
    display: block;

}
.uwu3{
    margin: 0 auto;
    display: block;
}
.uwu4{
    margin: auto;
    display: block;
}

